<!-- 

<div class="jumbotron">
    <h1 class="display-4">VSS</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Criar Conta </a>
</div>
-->


<head>
  <style>
    #btnPag {
      margin-top: 50%;
      float: top;
    }

    a:link {

      color: black;

    }
  </style>
</head>

<body>


  <div id="carouselExampleIndicators" class="carousel slide mt-4" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">

        <img class="d-block w-100" src=" /img/cavaloBanner3.jpg" alt="First slide">
      </div>




    </div>
  </div>



  <h2 class="mt-4">Farmácia Veterinária</h2>


  <br>
  <br>
  <br>


  <div class="row row-cols-1 row-cols-md-3">
    {{#each postagens  }}

   <div class="col mb-4">
      <a href="/postagens/{{_id}}">
        <div class="card ">



          <div class="card-body">
            <div>

              <img src="upload/{{nomeImagem}}" width="200px" height="300" class="card-img-top" alt="...">
               </div>
       </a>

     

    </div>
    

      <div class="captionText">
        <a href="/postagens/{{_id}}">

          <h3 class="mt-2">{{titulo}}</h3>

          <h2>R$: {{preco}}</h2>
        </a>
      </div>

    </div>

  </div>


 

  {{else}}

  <h5>Nenhum Produto Para Ser exibido :</h5>
  {{/each}}


  







<a href=""></a>
</div>

<div class="btnPag">
 <a href="/produto4">
                <button style="float: right;" onclick="funcao_a()" class="btn btn-primary mr-1" role="button" >5</button>
                </a>
                  <a href="/produto3">
                <button style="float: right;" onclick="funcao_a()" class="btn btn-primary mr-1" role="button" >4</button>
                </a>
                 <a href="/produto2">
                <button style="float: right;" onclick="funcao_a()" class="btn btn-primary mr-1" role="button" >3</button>
                </a>
                 <a href="/produto1">
                <button  style="float: right;" onclick="clickT()" class="btn btn-primary mr-1" role="button" >2</button>
                </a>
               
              
                <a href="/produto">
                <button style="float: right;" onclick="funcao_a()" class="btn btn-primary mr-1"  role="button" >1</button> 

                </a>

               
               
</div>
<script>
  function clickT(){
$(document.getElementById("bt2")).css('border-color', '#00ff00')
console.log("teste")
}
</script>

</body>