<!-- 

<div class="jumbotron">
    <h1 class="display-4">VSS</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Criar Conta </a>
</div>
-->


<head>
  <style>
    #btnPag {
      margin-top: 50%;
      float: top;
    }

    a:link {

      color: black;

    }


    
.card-image {
	display: block;
	min-height: 20rem; /* layout hack */
	background: #fff center center no-repeat;
	background-size: cover;

}

.card-image > img {
	display: block;
	width: 100%;

}

 


  hr {
      margin-left: 6%;
      float: left;

      border-color: rgb(218, 218, 218);
      box-sizing: border-box;
      width: 80%;
    }





/* Layout Styles */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
}

.card-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card {
	display: inline-block;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
}

.card-description > h2 {
	margin: 0 0 0.5em;
}

.card-description > p {
	margin: 0;
}
  </style>


<script>
  // This is "probably" IE9 compatible but will need some fallbacks for IE8
// - (event listeners, forEach loop)

// wait for the entire page to finish loading
window.addEventListener('load', function() {
	
	// setTimeout to simulate the delay from a real page load
	setTimeout(lazyLoad, 0,001);
	
});

function lazyLoad() {
	var card_images = document.querySelectorAll('.card-image');
	
	// loop over each card image
	card_images.forEach(function(card_image) {
		var image_url = card_image.getAttribute('data-image-full');
		var content_image = card_image.querySelector('img');
		
		// change the src of the content image to load the new high res photo
		content_image.src = image_url;
		
		// listen for load event when the new photo is finished loading
		content_image.addEventListener('load', function() {
			// swap out the visible background image with the new fully downloaded photo
			card_image.style.backgroundImage = 'url(' + image_url + ')';
			// add a class to remove the blur filter to smoothly transition the image change
			card_image.className = card_image.className + ' is-loaded';
		});
		
	});
	
}
</script>

<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">


</head>








<body>


 <div id="carouselExampleIndicators" class="carousel slide mt-4" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">

      <img class="d-block w-100" src=" /img/cavaloBanner3.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/img/cav33.png" alt="Second slide">
    </div>


    <div class="carousel-item">
      <img class="d-block w-100" src="/img/c3.png" alt="Third slide">
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="/img/cavaloanner2.png" alt="Third slide">
    </div>

  </div>
 </div>
<br>
<br>

<center>

  <h3 class="mt-4" style="font-family: 'Dosis', sans-serif; font-family: 'Josefin Sans', sans-serif;"  >Farmácia Veterinária</h3>
  <hr>
</hr>
</center>



  <br>
  <br>
  <br>




<ul class="card-list">
	{{#each postagens  }}
	<li class="card">
    
		<a class="card-image" href="/postagens/{{_id}}" target="_blank" >
			<img src="upload/{{nomeImagem}}" alt="Psychopomp" />
		</a>
		<a class="card-description" href="/postagens/{{_id}}" target="_blank">
			<h3>{{titulo}}</h3>
			<p>R$ {{preco}}</p>
		</a>
	</li>
	
	  {{else}}

</ul>








 


  <h5>Nenhum Produto Para Ser exibido :</h5>
  {{/each}}


  







<a href=""></a>
</div>

<div class="btnPag">
 <a href="/produto4">
                <button style="float: right;" onclick="funcao_a()" class="btn btn-primary mr-1" role="button" >5</button>
                </a>
                  <a href="/produto3">
                <button style="float: right;" onclick="funcao_a()" class="btn btn-primary mr-1" role="button" >4</button>
                </a>
                 <a href="/produto2">
                <button style="float: right;" onclick="funcao_a()" class="btn btn-primary mr-1" role="button" >3</button>
                </a>
                 <a href="/produto1">
                <button  style="float: right;" onclick="clickT()" class="btn btn-primary mr-1" role="button" >2</button>
                </a>
               
              
                <a href="/produto">
                <button style="float: right;" onclick="funcao_a()" class="btn btn-primary mr-1"  role="button" >1</button> 

                </a>

               
               
</div>
<script>
  function clickT(){
$(document.getElementById("bt2")).css('border-color', '#00ff00')
console.log("teste")
}
</script>

</body>