
<!--
<h1>Categorias</h1>

{{#each categorias}}
<a href="/categorias/{{_id}}"><h4>{{nome}}</h4></a>

{{else}}
<h5>nenhuma Cateogria Criada</h5>
<a href="/admin/categorias"><button  class="btn btn-success"></button></a>

{{/each}}
-->
<!--
<style> 
        .espacoTopo{
            margin-top: 6%;
        }

                hr {

      float: left;

      border-color: rgb(218, 218, 218);
      box-sizing: border-box;
      width: 80%;
    }





        .tabela-carros tr td{
            padding: 20px;

        }

        .tabela-carros{
            cursor: pointer;
        }



        .tabela-carros tr:nth-child(2n){
            background-color: #c4ffbc;
        }


        .tabela-carros tr:hover{
            background-color: rgb(88, 255, 241);
        }

        .tabela-carros tr:nth-child(2n+1){
            background-color: rgb(183, 226, 193);
        }


        .tabela-carros tr:hover{
            background-color: rgb(97, 221, 80);
        }






</style>
<div class="espacoTopo">
<h1>Categorias</h1>
<hr>
</hr>
<br>
<br>
</div>
{{#each categorias}}
  <table  class="tabela-carros" cellspacing="0" >






          <tr>
            <td>

               <a href="/categorias/{{_id}}"><h4>{{nome}}</h4></a>
            </td>
            <td>

            </td>
                        <td>

            </td>
                        <td>

            </td>
                        <td>

            </td>
        </tr>


    </table>






{{else}}
<h5>nenhuma Cateogria Criada</h5>
<a href="/admin/categorias"><button  class="btn btn-success"></button></a>

{{/each}}


-->


<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap" rel="stylesheet">
    
    
    <title>Document</title>


    <style>

      body{
        background-color: rgb(227, 255, 230);
      }

      
      .zoom {
        display: inline-block;
        background-color: green;
        transition: transform .2s; /* Animation */
        width: 100px;
        height: 10px;
        margin: 0 auto;
    }

      .zoom:hover {
        transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }



    



        hr {
      margin-left: 6%;
      float: left;

      border-color: rgb(218, 218, 218);
      box-sizing: border-box;
      width: 80%;
    }


        .cards-list {
          z-index: 0;
          width: 100%;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
        }

        .card {
          margin: 30px auto;
          width: 300px;
          height: 300px;
          border-radius: 40px;
        box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
          cursor: pointer;
          transition: 0.4s;
        }

        .card .card_image {
          width: inherit;
          height: inherit;
          border-radius: 40px;
        }

        .card .card_image img {
          width: inherit;
          height: inherit;
          border-radius: 40px;
          object-fit: cover;
        }

        .card .card_title {
          text-align: center;
          border-radius: 0px 0px 40px 40px;
          font-family: sans-serif;
          font-weight: bold;
          font-size: 30px;
          margin-top: -80px;
          height: 40px;
        }

        .card:hover {
          transform: scale(0.9, 0.9);
          box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
            -5px -5px 30px 15px rgba(0,0,0,0.22);
        }

        .title-white {
          color: white;
        }

        .title-black {
          color: black;
        }

        @media all and (max-width: 500px) {
          .card-list {
            /* On small screens, we are no longer using row direction but column */
            flex-direction: column;
          }
        }

   
  
    </style>


</head>
<body>




<br>


<br>
<br>
<div style="text-align: center;">
  <h1 style="font-family: 'Yanone Kaffeesatz', sans-serif;">CATEGORIAS</h1>
  <br>

</div>











<div class="cards-list" style="margin-top: 7%;">
  {{#each categorias}}
  <a  href="/categorias/{{_id}}" style="text-decoration:none; ">
  <div class="card 1">
    
    <div class="card_image"> <img src="/upload/{{imgCat}}" /> </div>

    <br>

      <div class=" card_title title-white" style="height:min-content;  background-color: rgb(153, 236, 145)" style="border-radius:30%">
          
              <h3 > {{nome}} </h3>  
        
          
      </div>
  </div>





</a>
{{else}}


</ul>
<h1 class="mt-4"></h1>

{{/each}}



</div>

</body>