
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>


    <style>
        ul.gallery{    
          margin-left: 3vw;     
          margin-right:3vw;
          
          }    

        .zoom {      
          -webkit-transition: all 0.35s ease-in-out;    
          -moz-transition: all 0.35s ease-in-out;    
          transition: all 0.35s ease-in-out;     
          cursor: -webkit-zoom-in;      
          cursor: -moz-zoom-in;      
          cursor: zoom-in;
          border-radius: 50%;
          }     

        .zoom:hover,  
        .zoom:active,   
        .zoom:focus {
          /**adjust scale to desired size, 
          add browser prefixes**/
          -ms-transform: scale(2.5);    
          -moz-transform: scale(2.5);  
          -webkit-transform: scale(2.5);  
          -o-transform: scale(2.5);  
          transform: scale(2.5);    
          position:relative;      
          z-index:100;  
          }

          /**To keep upscaled images visible on mobile, 
          increase left & right margins a bit**/  
          @media only screen and (max-width: 768px) {   
          ul.gallery {      
            margin-left: 15vw;       
            margin-right: 15vw;
            
          }

          /**TIP: Easy escape for touch screens,
          give gallery's parent container a cursor: pointer.**/
          .DivName {cursor: pointer}
          }

          li{
            padding: 5%;
          }

          #padd{
            padding: 5%;
            
          }
          .patrocinador{
            float: left;
          }
    </style>


</head>
<body>
    
<h1>Patrocinadores :</h1>
{{#each patrocinador}}

    <div class="patrocinador mt-4">
    
    <ul class="list-inline gallery">

         <img class="img-circle zoom" id="padd" src="/upload/{{imgPt}}"> 

        <figcaption class="figure-caption">guizao come todas</figcaption>

    </div>
   


{{else}}

<h1>Nenhum Patrocinador encontrado</h1>

{{/each}}


</body>
</html>
-->

<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap" rel="stylesheet">
    

    <style>
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}


/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/
</style>
<body>
  














  <center>


<br>
<br>
<br>
<div class="infoPatro" style="text-align: center;">

  <br>
  <img src="/img/patri.png" width="30%">
  <br>



 

  

</div>

  </center>
<br>
<hr>
</hr>

<br>
<br>
<center>
<h1 style="font-family: 'Dosis', sans-serif; font-family: 'Josefin Sans', sans-serif;" >PARCEIROS</h1>
</center>
<br>
<br>
  















<div class="cards-list">
       {{#each patrocinador}}
       <a href="{{link}}" target="blank">
    <div class="card 1" >
      <div class="card_image" > 
        <img  src="/upload/{{imgPt}}"/>
      </div>
      <div class="card_title title-white">
        <div style="background-color: rgb(108, 238, 147);">
        <h3 style="color: rgb(255, 255, 255);">{{nome}}</h3>
        </div>
      </div>
    </div>


</a>

{{else}}
</div>







<!--  PATROCINADORES   -->




</ul>
<h1 style="font-family: 'Yanone Kaffeesatz', sans-serif;">Nenhum Patrocinador encontrado</h1>

{{/each}}

</div>




    


    
    








</body>







